/* width */
.light-scrollbar::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.light-scrollbar::-webkit-scrollbar-track {
    background: #e5e7eb;
    border-radius: 100px;
}

/* Handle */
.light-scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 100px;
}

/* Handle on hover */
.light-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #93a9c3;
}